<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="eng" class="com.ashok.bean.PetrolEngine" primary="true" />
	
	<bean id="eng1" class="com.ashok.bean.DieselEngine" />


	<bean id="car" class="com.ashok.bean.Car" autowire="constructor"/>
		

</beans>
